<h1><%= @post.title %></h1>
<% if @user == current_user %>
  <%= @post.is_deleted?? '非公開' : '公開' %>
<% end %>
  <table>
    <tr>
      <th>投稿者</th>
      <td>
        <%= link_to user_path(@user.id) do %>
          <%= @post.user.nick_name %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>ドライブメモ</th>
      <td><%= @post.describe %></td>
    </tr>
    <tr>
      <th>カテゴリ</th>
      <td><%= @post.category.name %></td>
    </tr>
    <tr>
      <th>エリア</th>
      <td><%= @post.area_i18n %></td>
　　　<td><%= @post.prefecture_i18n %></td>
　　　<td><%= @post.location %></td>
    </tr>
    <tr>
      <th>乗り物区分</th>
      <td><%= @post.vehicle_i18n %></td>
    </tr>
  </table>
<% if @user == current_user %>
  <%= link_to "編集する", edit_post_path(@post.id) %>
  <%= link_to "削除", post_path(@post.id), method: :delete, data: { confirm: "本当に削除しますか？" } %>
<% end %>

<div>
  <% if @post.fav_by?(current_user) %>
    <p>
      <%= link_to post_favs_path(@post), method: :delete do %>
        ♥<%= @post.favs.count %> いいね
      <% end %>
    </p>
  <% else %>
    <p>
      <%= link_to post_favs_path(@post), method: :post do %>
        ♡<%= @post.favs.count %> いいね
      <% end %>
    </p>
  <% end %>
  <p>コメント件数:<%= @post.comments.count %></p>
  <% @post.comments.each do |comment| %>
    <p><%= image_tag comment.user.get_profile_image, size: "50x50" %></p>
    <%= link_to user_path(@user) do %>
      <%= comment.user.nick_name %>
    <% end %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.post_comment %>
    <% if comment.user == current_user %>
      <%= link_to "削除", post_comment_path(comment.post, comment.id), method: :delete %>
    <% end %>
  <% end %>
</div>

<div>
  <%= form_with model: [@post, @comment] do |f| %>
    <%= f.text_area :post_comment, placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>

<script>
  var markerData = <%== @post.maps.map {|o| { lat: o['lat'], lng: o['lng'] } }.to_json %>
  console.log(markerData)
</script>