<div class="container text-center mt-2">
  <h3><%= @room.user.nick_name %>さんとのチャットルーム</h3>
  <div class="chat-field">
    <% @room.dms.each do |dm| %>
      <% if dm.is_user == true %>
        <div class="text-left row bg-light p-3 m-2 rounded-pill">
          <strong><%= dm.room.user.nick_name %></strong> :
          <%= dm.message %>
        </div> 
      <% else %>
        <div class="text-right bg-light p-3 m-2 rounded-pill">
          <strong>管理者</strong> :
          <%= dm.message %>
        </div>
      <% end %>
    <% end %>
    <%= form_with model: [@room, @dm], url: admin_room_dms_path(@room) do |f| %>
      <div class="row mt-5 mx-auto">
        <div class="pl-3 col-8"><%= f.text_area :message, placeholder: "メッセージを入力してください。", class: "form-control" %></div>
        <div class="col-1 my-auto"><%= f.submit "送信", class: "btn btn-success" %></div>
      </div>
    <% end %>
  </div>
  
    
