<div class="container mx-auto">
  <h1 class="col-12 text-center"><%= @user.name %> <span>さんの詳細</span></h1>
  <table class="table">
    <tr>
      <th></th>
      <td><%= image_tag @user.get_profile_image, size:  "200x200" %></td>
    </tr>
    <tr>
      <th>会員ID</th>
      <td><%= @user.id %></td>
    </tr>
    <tr>
      <th>ニックネーム</th>
      <td><%= @user.nick_name %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <th>自己紹介</th>
      <td><%= @user.introduction %></td>
    </tr>
    <tr>
      <th>所在地</th>
      <td><%= @user.address %></td>
    </tr>
    <tr>
      <th>年齢</th>
      <td><%= @user.age %></td>
    </tr>
    <tr>
      <th>性別</th>
      <td><%= @user.gender_i18n %></td>
    </tr>
    <tr>
      <th>ステータス</th>
      <td><%= @user.is_deleted?? '退会' : '有効' %></td>
    </tr>
  </table>
  <div class="row text-center">
    <span class="col-4"><%= link_to "編集する", edit_admin_user_path(@user.id), class: "btn btn-secondary w-50" %></span> 
    <span class="col-4"><%= link_to "投稿一覧を見る", admin_user_post_path(@user), class: "btn btn-success w-50" %></span>
    <span class="col-4"><%= link_to "コメント一覧を見る", admin_user_comment_path(@user.id), class: "btn btn-primary w-" %></span>
  </div>