<h1><%= @user.nick_name %>さんのドライブデータ一覧</h1>
<% @posts.each do |post| %>
  <%= post.is_deleted?? '非公開' : '公開' %>
  <%= link_to admin_post_path(post.id) do %>
    <%= post.title %>
  <% end %>
    <table>
      <tr>
        <th>場所</th>
        <td><%= post.area_i18n %></td>
        <td><%= post.prefecture_i18n %></td>
        <td><%= post.location %></td>
      </tr>
      <tr>
        <th>カテゴリ</th>
        <td><%= post.category.name %></td>
      </tr>
    </table>
  <% end %>