<div class="container mt-2">
  <h1 class="text-center"><%= @user.nick_name %>さんのコメント一覧</h1>
  <% if @user.comments.exists? %>
    <table class="table text-center">
      <thead>
        <tr>
          <th>To</th>
          <th>ドライブデータ</th>
          <th>コメント内容</th>
          <th colspan="1"></th>
        </tr>
      </thead>
      <tbody>
        <% @comments.each do |comment| %>
        <tr>  
          <td>
            <%= link_to admin_user_path(comment.post.user_id) do %>
              <%= comment.post.user.nick_name %>
            <% end %>
          </td>
          <td>
            <%= link_to admin_post_path(comment.post_id) do %>
              <%= comment.post.title %>
            <% end %>
          </td>
          <td><%= comment.post_comment %></td>
          <td><%= link_to "削除", admin_post_comment_path(comment.post, comment.id), method: :delete %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>コメントは、まだありません。</p>
  <% end %>
</div>