<div class="img-cars-1 mx-auto">
  <div class="container mx-auto ">
    <div class="row mx-auto mt-3">
      <h1 class="col-9 text-center text-light">
        <i class="fa-solid fa-house"></i> <%= @user.nick_name %>
        <% if @user == current_user %>
          さんのマイページ
        <% else %>
          さんの紹介ページ
      </h1>
      <p class="col-3 pt-3 text-center">      
        <% if current_user.following?(@user) %>
          <%= link_to "フォローを外す", user_relationships_path(@user.id), method: :delete, class: "btn btn-secondary" %>
        <% else %>
          <%= link_to "フォローする", user_relationships_path(@user.id), method: :post, class: "btn btn-primary" %>
        <% end %>
      </p>
      <% end %>
    </div>
    <div class="row mt-3 text-center"> 
      <span class="col-lg-3 col-sm-3 ">
        <%= link_to user_post_path(@user) do %>
          <i class="fas fa-map-marked-alt"></i> 投稿一覧を見る
        <% end %>
      </span>
      <span class="col-lg-3 col-sm-3">
        <%= link_to user_fav_path(@user) do %>
          <i class="fab fa-gratipay"></i> いいね一覧を見る
        <% end %>
      </span>
      <span class="col-lg-3 col-sm-3">
        <%= link_to user_followings_path(@user) do %>
          <i class="fas fa-arrow-circle-right"></i> フォロー一覧
        <% end %>
      </span>
      <span class="col-lg-3 col-sm-3">
        <%= link_to user_followers_path(@user) do %>
          <i class="fas fa-arrow-circle-left"></i> フォロワー一覧
        <% end %>
      </span>
    </div>
    <div class="p-2 text-light"><u><%= flash[:notice] %></u></div>
    <div class="row mt-5 mx-auto ">
      <p class="col-lg-4 col-sm-5 text-center"><%= image_tag @user.get_profile_image, size: "200x200", class: "rounded" %></p>
      <div class="col-lg-8 col-sm-7 text-light bg-dark rounded">
        <li class="h5">自己紹介 : <%= @user.introduction %></li>
        <li class="h5 py-2">所在地 : <%= @user.address %></li>
        <li class="h5">年齢 : <%= @user.age %></li>
        <li class="h5 py-2">性別 : <%= @user.gender_i18n %></li>
        <li class="h5">投稿数 : <%= @user.posts.count %></li>
        <li class="h5 py-2">フォロー数 : <%= @user.followings.count %></li>
        <li class="h5">フォロワー数 : <%= @user.followers.count %></li>
      </div>
    </div>
    <div class="col-lg-4 col-sm-5 text-center">
      <% if @user == current_user %>
        <%= link_to "編集", edit_user_path(current_user.id), class: "btn btn-secondary" %>
        <p class="mt-2 text-light">こちらからアカウント情報の編集ができます。</p>
      <% end %>
    </div>
  </div>
</div>
