<div class="container mt-2">
<h1 class="text-center"><%= @user.nick_name %>さんのドライブデータ一覧</h1>
  <% @posts.each do |post| %>
  <div class="row bg-success">
    <% if @user == current_user %>
      <strong class="col-1 col-sm-2 mt-5 text-light"><u><%= post.is_deleted?? '非公開' : '公開中' %></u></strong>
    <% end %>
  <% if post.is_deleted == false || @user == current_user %>
    <div class="col-11 col-sm-8 text-center mt-2 mb-1">
      <h3>
        <%= link_to post_path(post.id) do %>
          <p class="text-light"><%= post.title %></p>
      </h3>
      <br />
          <%= image_tag post.get_image, size: "100x100" %>
        <% end %>
    </div>
  </div>
      <table class="table">
        <tr>
          <th>投稿日 :</th>
          <td><%= post.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <th>場所 :</th>
          <td><%= post.area_i18n %></td>
          <td><%= post.prefecture_i18n %></td>
          <td><%= post.location %></td>
        </tr>
        <tr>
          <th>カテゴリ :</th>
          <td><%= post.category.name %></td>
        </tr>
        <tr>
          <th>いいね <i class="far fa-thumbs-up"></i> :</th>
          <td><%= post.favs.count %></td>
        </tr>
        <tr>
          <th>コメント <i class="far fa-comments"></i> :</th>
          <td><%= post.comments.count %></td>
        </tr>
      </table>
    <% end %>
  <% end %>
  