<div class="container mt-2">
  <h1 class="text-center"><%= @user.nick_name %>さんのドライブデータ一覧</h1>
  <% if @user.posts.exists? %>
    <% @posts.each do |post| %>
    <div class="row mb-4">
      <!-- 投稿が非公開の場合、投稿者にしか投稿は見られないようにする -->
      <% if post.is_deleted == false || @user == current_user %>
        <div class="img-meter row mx-auto col-11 col-lg-4 rounded">
          <% if @user == current_user %>
            <strong class="text-light my-auto col-12"><u><%= post.is_deleted?? '非公開' : '公開中' %></u></strong>
          <% end %>
          <div class="title mx-auto text-center mb-2">
            <%= link_to post_path(post.id) do %>
              <div class="text-light h3"><i class="fa-solid fa-link"></i> <%= post.title %></div> <br />
              <%= image_tag post.get_image, size: "150x150", class: "rounded" %>
            <% end %>
          </div>
        </div> 
        <table class="table table-striped mx-auto col-11 col-lg-8 my-2">
          <tr>
            <th>投稿日 :</th>
            <td><%= post.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <th>場所 :</th>
            <td>・<%= post.area_i18n %></td>
            <td>・<%= post.prefecture_i18n %></td>
            <td>・<%= post.location %></td>
          </tr>
          <tr>
            <th>カテゴリ :</th>
            <td><%= post.category.name %></td>
          </tr>
          <tr>
            <th>いいね <i class="far fa-thumbs-up"></i> :</th>
            <td><%= post.favs.count %></td>
          </tr>
          <tr>
            <th>コメント <i class="far fa-comments"></i> :</th>
            <td><%= post.comments.count %></td>
          </tr>
        </table>
      <% end %>
    </div>
    <% end %>
  <div class="container col-9"><%= paginate @posts, theme: 'twitter-bootstrap-4' %></div>
  <% else %>
    <p class="text-center">ドライブデータは、まだありません。</p>
  <% end %>
</div>