<h1><%= @user.nick_name %>さんのいいね一覧</h1>
<table>
  <thead>
    <tr>
      <th colspan="1"></th>
      <th>タイトル</th>
      <th>投稿主</th>
      <th>コメント内容</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <% @favs.each do |fav| %>
    <tr>
      <td><%= image_tag fav.post.get_image, size: "100x100" %></td>
      <td>
        <%= link_to post_path(fav.post) do %>
          <%= fav.post.title %>
        <% end %>
      </td>
      <td>
        <%= link_to user_path(fav.post.user) do %>
          <%= fav.post.user.nick_name %></td>
        <% end %>
      <td></td>
    </tr>
    <% end %>
  </tbody>
</table>