<div class="container mx-auto">
<h1 class="mt-3 mb-3 text-center"><%= @user.nick_name %>さんのいいね一覧</h1>
<% if @user.favs.exists? %>
<table class="table">
  <thead>
    <tr>
      <th class="text-center">タイトル</th>
      <th>投稿主</th>
      <th>カテゴリ</th>
      <th>場所</th>
    </tr>
  </thead>
  <tbody>
    <% @favs.each do |fav| %>
    <tr>
      <td class="text-center">
        <%= image_tag fav.post.get_image, size: "100x100" %>
        <br />
        <%= link_to post_path(fav.post) do %>
          <%= fav.post.title %>
        <% end %>
      </td>
      <td>
        <%= link_to user_path(fav.post.user) do %>
          <%= fav.post.user.nick_name %></td>
        <% end %>
      <td><%= fav.post.category.name %></td>
      <td><%= fav.post.location %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p class="text-center">いいね をした記録は、まだありません。</p>
<% end %>
</div>